/* 위로 가는 버튼 */
.btn-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 999;

    transition: all 0.3s ease;
}

.btn-top:hover {
    transform: translateY(-5px);
    opacity: 0.8;
}

.btn-top img {
    width: 43px;
    height: 43px;

}


/* --------------------------------------------------------------
-----------------FOOTER---------------------------------------- */

footer {
    width: 100%;
    background-color: #4d4d4d;
    color: #fff;
    font-family: 'Pretendard', sans-serif;
    font-size: 1.125rem;
    margin-top: 180px;
    padding: 80px 0;
    min-width: 0;
    box-sizing: border-box;

}

.topMenu li a:hover,
.footer-group ul li a:hover {
    text-decoration: underline;
}

#footerWrap {
    width: 90%;
    max-width: 1260px;
    margin: 0 auto;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 40px;
    margin-bottom: 50px;
}

.footer-logo-area {
    display: block;
}

.footer-logo {
    margin-bottom: 25px;
}

.footer-logo img {
    width: 270px;
    height: auto;
}

.slogan {
    font-weight: 600;
}

.topMenu {
    display: flex;
    gap: 20px;
}

.topMenu li a {
    color: #fff;
}

.topMenu li.listStyle:not(:last-child)::after {
    content: " | ";
    white-space: pre;
    color: #fff;
    position: relative;
    top: 2px;
    left: 15px;
    font-size: 0.85rem;
    font-weight: 100;
}

.footer-middle {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-group {
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
}

.footer-group span {
    font-weight: 700;
    width: 140px;
}

.footer-group ul {
    display: flex;
    gap: 35px;
}

.footer-group ul li a {
    color: #fff;
    font-weight: 400;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 30px 0;
}

.copy-text {
    font-size: 0.7rem;
    color: #999;
    line-height: 1.6;
    letter-spacing: -0.5px;
}

.footer-SNS {
    display: flex;
    gap: 9px;
}

.footer-SNS li a {
    display: flex;
    justify-content: center;
    width: 63px;
    height: 63px;
}


/* 반응형 */
@media (max-width: 1260px) {
    footer {
        min-width: auto;
        height: auto;
        margin-top: 120px;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
    }

    .topMenu {
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer-middle {
        gap: 40px;
        padding: 0 10px;
    }

    .footer-group {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .footer-group ul {
        flex-wrap: wrap;
        gap: 15px;
    }

    .footer-bottom {
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
        text-align: center;
    }
}

@media (max-width:768px) {
    footer {
        margin-top: 88px;
    }

    #footerWrap {
        width: 100%;
        padding: 0 20px;
        font-size: 0.8rem;
    }

    .footer-top,
    .footer-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .footer-middle {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .topMenu {
        order: 2;
    }
}
