/* --------------------------------------------------------------
-----------------ARCHIVE---------------------------------------- */


.archive {
    width: 100%;
    max-width: 1260px;
    background-color: #ffffff;
    padding: 0 20px;
    margin: 150px auto;
    margin-bottom: 300px;
    display: block;
    box-sizing: border-box;
}

.archive h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    padding-bottom: 50px;
    letter-spacing: -1.3px;

}

.archive-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 60px 30px;
    flex: 1;
}

.archive-item {
    width: calc(50% - 15px);
    height: 575px;
}

.archive-item a {
    color: #000;
}

.archive-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.archive-info {
    margin-top: 26px;
}

.archive-info h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.663rem;
    letter-spacing: -1.5px;
    margin-bottom: 5px;
    transition: all 0.3s ease;
}

.archive-info:hover h3 {
    color: #f40159;
}

.archive-info h3::after {
    content: "";
    display: block;
    float: right;
    width: 19px;
    height: 19px;


    background: url(../img/icon/down-arrow.png) no-repeat center;
    background-size: cover;
    transition: all 0.3s ease;
}

.archive-info:hover h3::after {
    opacity: 0.6;
    transform: rotate(180deg);
}

.archive-info .sub {
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    color: #626262;
    font-size: 1.081rem;
    letter-spacing: -1px;
    margin-bottom: 18px;
}

.archive-info p {
    width: 100%;
    max-width: 564px;
    font-size: 1.08rem;
    font-weight: 600;
    line-height: 21px;
    margin-top: 19px;
}



/* 반응형 */

@media (max-width: 1260px) {
    .archive {
        margin: 150px auto;
    }

    .archive-item {
        width: calc(50% - 15px);
    }
}

@media (max-width: 768px) {
    .archive-item {
        width: 100%;
        margin-bottom: 50px;
    }

    .archive-info p br {
        display: none;
    }
}