/* ----------------------------------------------------------------------
-----------------HEADER------------------------------------------------- */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* max-width: 1664px; */
    height: 188px;
    background-color: white;
    z-index: 1000;
}


#headerWrap {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* TEXT REMOVE */
.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* LOGO */
.header-left {
    margin-left: 50px;
}

.header-left .logo {
    display: block;
    width: 209px;
    height: 55px;
    background: url(../img/logo.png) no-repeat center / contain;
}


/* UTIL */

.header-util {
    display: flex;
    align-items: center;
    gap: 20px;
}

.api_wrap {
    display: flex;
    align-items: center;
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 5px;
}

.api_wrap .date {
    letter-spacing: 0px;
}

.api_wrap .cicon {
    padding: 0 5px;
    display: flex;
    align-items: center;
}

.api_wrap .cicon img {
    width: 32px;
    height: auto;
}

.api_wrap .ctemp {
    letter-spacing: 0px;
}

.membership {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.3125rem;
    color: #000;
    margin-right: 50px;
}

.m-menu-btn {
    display: none;
    width: 30px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1000;
}

.m-menu-btn span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000;
    border-radius: 15px;
    transition: 0.3s;
}

.logout-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 50px;
}

.header-util .logout-wrap .membership {
    margin-right: 0;
}

.logout-wrap .bar {
    font-size: 1rem;
    font-weight: 700;
    color: #000;
    margin: 0 5px;
    display: inline-block;
    line-height: 1;
}


/* GNB */
.gnb {
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* min-width: 1260px; */
}


.gnb>ul {
    display: flex;
    justify-content: space-between;
    gap: 0px;
    width: 100%;
    height: 70px;
    overflow: hidden;
    transition: height 0.3s ease;
    margin-left: 230px;
}


#searchBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    border: none;
    outline: 2px solid #000;
    padding: 5px;
    width: 200px;
    height: 30px;
}

#searchBox input[type="search"] {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    width: 110px;
    padding: 0 10px;
}

.search-btn {
    width: 25px;
    height: 25px;
    border: none;
    background: url(../img/icon/magnifying-glass.png) no-repeat center;
    background-size: 16px 16px;
    margin-left: 10px;
    padding: 5px;
    cursor: pointer;
    overflow: hidden;
}

.gnb>ul:hover {
    height: 380px;
}

/* 메인 메뉴 */

.gnb>ul>li>a {
    position: relative;
    display: block;
    padding: 10px 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.3125rem;
    color: #000;
}

.gnb>ul>li>a:hover {
    text-decoration: underline #f40159;
}

.search {
    width: 24px;
    height: 24px;
    background: url(../img/icon/magnifying-glass.png) no-repeat;
    background-size: 24px 24px;
    cursor: pointer;
}


.gnb ul ul {
    padding-top: 20px;
}

/* 서브메뉴 */
.gnb ul ul a {
    display: block;
    padding: 5px 20px;
    line-height: 23px;
    text-align: center;
    font-family: "Pretendard", sans-serif;
    font-weight: 400;
    transition: all 0.3s;
}

.gnb ul ul a:hover {
    color: #000;
}


/* 반응형 */
@media (max-width: 1260px) {
    .header {
        min-width: auto;
        height: auto;
    }

    #headerWrap {
        padding: 0 20px;
    }

    .header-left {
        margin-left: 0;
    }

    .header-left .logo {
        width: 150px;
    }

    .membership {
        margin-right: 0;
        font-size: 1rem;
    }

    .m-menu-btn {
        display: flex;
    }

    .m-menu-btn.open span:nth-child(1) {
        transform: translateY(8.5px) rotate(45deg);
    }

    .m-menu-btn.open span:nth-child(2) {
        opacity: 0;
    }

    .m-menu-btn.open span:nth-child(3) {
        transform: translateY(-8.5px) rotate(-45deg);
    }

    .api {
        display: none;
    }

    .gnb {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background: #fff;
        flex-direction: column;
        justify-content: flex-start;
        padding: 80px 20px 40px;
        transition: 0.5s ease;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
        z-index: 999;

        overflow-y: auto;
    }

    .gnb.active {
        right: 0;
    }

    .gnb>ul:hover {
        height: auto;
    }

    .gnb>ul {
        flex-direction: column;
        height: auto;
        overflow: visible;
        display: block;

        margin-left: 0;
        padding: 0;
        width: 100%;
    }

    .gnb>ul>li {
        width: 100%;
        font-size: 0.9rem;
    }

    .gnb>ul>li>a {
        font-size: 1.1rem;
        padding: 15px 20px;
        border-bottom: 2px solid #eee;
        margin: 0;

        text-align: left;
    }

    .gnb ul ul {
        display: block;
        padding-left: 15px;
    }

    .gnb .depth2 {
        display: block;
        position: static;
        opacity: 1;
        visibility: visible;
    }

    #searchBox {
        margin: 30px 20px;
        width: 98%;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid #000;
        outline: none;
    }


}

@media (max-width:768px) {
    .header-left .logo {
        width: 130px;
    }

    .gnb>ul>li>a {
        font-size: 0.9rem;
        padding: 8px 10px;
    }

    .depth2>li>a {
        font-size: 0.7rem;
    }

    .btn-top {
        display: none;
    }
}