/* ----------------------------------------------------------------------
-----------------PROGRAM CATEGORY---------------------------------------- */


.category {
    width: 100%;
    max-width: 1260px;
    /* height: 746px; */
    min-height: 600px;
    padding: 80px 20px;
    background-color: #fff;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;


    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-left {
    /* margin-right: 188px; */
    flex: 1;
    font-weight: 700;
    color: #000;
}

.category-left h2 {
    font-size: clamp(2.5rem, 4vw, 3.5rem);
    /* clamp(최소값, 기준값(viewport width의 4%, 화면이 커질수록 글자도 같이 커짐), 최대값) */
    line-height: 1.1;
    letter-spacing: -2px;
    margin-bottom: 40px;
}

.category-left a {
    font-size: 1.3125rem;
    letter-spacing: -1px;
    color: #000;
    transition: all 0.3s;

}

.category-left>a::after {
    content: "";
    display: inline-block;
    width: 21px;
    height: 21px;

    background-image: url(../img/icon/arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    position: relative;
    left: 30px;
    top: 5px;
    transition: all 0.3s ease;

}

.category-left>a:hover {
    color: #626262;
}

.category-left>a:hover::after {
    opacity: 0.6;
    transform: translateX(20px);
}

.category-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 2;
    max-width: 754px;
    width: 100%;
}

.category-list li {
    width: 100%;
    height: auto;
    min-height: 70px;
    border: 3px solid #000;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
}

.category-list li a {
    display: block;
    width: 100%;
    padding: 0px 10px;
    font-size: clamp(1.8rem, 3vw, 3.1rem);
    font-weight: 700;
    letter-spacing: -2px;
    color: #000;
    position: relative;
}

.category-list li a::after {
    content: "";
    display: inline-block;
    width: 39px;
    height: 39px;
    float: right;

    background-image: url(../img/icon/down-arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    top: -50%;
    right: 20px;
    transform: rotate(180deg)translateY(-20%);
    transition: all 0.3s ease;
}

.category-list li:hover {
    border-color: #f40159;
}

.category-list li:hover a::after {
    opacity: 0;
}

@media (max-width:1260px) {
    .category {
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
        margin-top: 10%;
    }

    .category-left {
        margin-right: 0;
    }

    .category-list {
        max-width: 100%;
    }

    .category-list li a::after {
        width: 29px;
        height: 29px;
    }
}

@media (max-width: 768px) {
    .category {
        padding: 50px 20px;
    }

    .category-left h2 {
        margin-bottom: 20px;
    }

    .category-list li a::after {
        width: 25px;
        height: 25px;
    }
}